[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-Env = "*"
pandas = "*"
PyYAML = "*"
requests = "*"
responses = "*"
tornado = "*"

[dev-packages]
nose = "*"
mock = "*"
parameterized = "*"
coverage = "*"
